html {
    direction: rtl;
}

.header__top__left ul li:after {
    left: -25px;
    right: auto;
}

.header__top__left ul li {
    margin-left: 45px;
    margin-right: 0;
}

.header .header__top .col-lg-6 {
    text-align: right;
}

.header__top__left ul li i {
    margin-right: 0;
    margin-left: 5px;
}

.header__top__right {
    text-align: left;
}

.header__top__right__language {
    margin-right: 0;
    margin-left: 40px;
}

.header__top__right__social {
    margin-right: 0;
    margin-left: 35px;
}

.header__top__right__language:after {
    right: auto;
    left: -21px;
}

.header__top__right__social:after {
    right: auto;
    left: -20px;
}

.header__cart {
    text-align: left;
}

.header__menu ul li {
    margin-right: 0;
    margin-left: 50px;
}

.hero__search {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero__search__form form .hero__search__categories {
    float: right;
}

.hero__search__form form button {
    right: auto;
    left: 0;
}

.hero__search__form form .hero__search__categories:after {
    left: 0;
    right: auto;
}

.footer {
    text-align: right;
}

.footer__widget .footer__widget__social a {
    margin-left: 10px;
    margin-right: 0;
}

.footer__widget ul{
    width: 100%;
}

.logo {
    height: 50px;
}

.humberger__menu__wrapper {
    text-align: right;
}

.hero__search__form form .hero__search__categories {
    padding-right: 18px;
    text-align: right;
    padding-left: 0;
}

.hero__search__form form .hero__search__categories span {
    right: auto;
    left: 14px;
}

@media only screen and (min-width: 992px) {
    .offset-lg-left-1 {
        margin-left: 8.33333333%;
    }

    .footer__widget ul {
         width: 50%;
    }

    .h5-links {
        width: 50%;
        margin-left: 0;
        margin-right: auto;
    }

    .hero__search {
        flex-direction: row;
    }
}